@import "bootstrap/scss/bootstrap";

header {
  height: 400px;
  width: 100vw;
  background-position: center;
  background-size: cover;

}

i {
  font-size: 2rem;
}

.show-container{
  margin-top: -80px;
}
